<footer class="bg-light text-center text-lg-start">
    <div class="text-center p-3 footer-line">
        <a th:href="@{../about/user-agreement}" class="link-light">Пользовательское соглашение</a>
        <a th:href="@{../about/privacy-policy}" class="link-light">Политика конфиденциальности</a>
        2022-2023: Copyleft
        <a class="link-light" href="https://new-bokino.ru/">new-bokino.ru</a>
        <span>Коммит 28</span>
    </div>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/main.js}"></script>
    <script th:src="@{/js/captcha.js}"></script>
    <script src="https://captcha-api.yandex.ru/captcha.js?render=onload&onload=onloadFunction"></script>
</footer>


