    <header class="navbar navbar-expand-lg d-flex flex-wrap align-items-left py-3 mb-4 border-bottom">

        <div class="container">
            <a href="/" class="navbar-brand">Bobr-Coin</a>

            <ul class="nav col-12 col-md-auto mb-2 justify-content-left mb-md-0">
                <li><a th:href="@{../index}" class="nav-link px-2 link-secondary">Главная</a></li>
                <li><a th:href="@{../game}" class="nav-link px-2 link-dark">Игра</a></li>
                <li><a th:href="@{../game/top}" class="nav-link px-2 link-dark">Топ</a></li>
                <li><a th:href="@{../game/stats}" class="nav-link px-2 link-dark">Статистика</a></li>
                <li><a th:href="@{../about/index}" class="nav-link px-2 link-dark">About</a></li>
            </ul>

            <div class="col-md-3 text-end justify-content-end">
                <button type="button" class="btn btn-outline-primary me-2">Войти</button>
                <button type="button" class="btn btn-primary">Регистрация</button>
            </div>
        </div>
    </header>