<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">

<div th:replace="fragments/head :: head"></div>

<body class="bg-light">
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<div th:if="${email} == null" class="position-relative p-3 p-md-5 m-md-3 text-center">
    <form method="post" th:action="@{../auth/forgot-password}">
        <label>
            Адрес электронной почты:
            <input type="email" required>
        </label>

        <button type="submit" class="btn-primary btn">Отправить</button>
    </form>
</div>
<div th:if="${email} != null" class="position-relative p-3 p-md-5 m-md-3 text-center">
    <form method="post" th:action="@{../auth/forgot-password}">

        <div class="p-md-2">
            <label>
                Адрес электронной почты:
                <input id="email" type="email" required th:value="${email}" readonly>
            </label>
        </div>

        <div class="p-md-2">
            <label>
                Новый пароль:
                <input id="new-password" type="password" required>
            </label>
        </div>

        <button type="submit" class="btn-primary btn">Отправить</button>
    </form>
</div>
</body>

</html>