<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">

<div th:replace="fragments/head :: head"></div>

<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.0/chart.min.js" integrity="sha512-7U4rRB8aGAHGVad3u2jiC7GA5/1YhQcQjxKeaVms/bT66i3LVBMRcBI9KwABNWnxOSwulkuSXxZLGuyfvo7V1A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    

    <div th:replace="fragments/header :: header"></div>

    <main class="container">

    </main>
    
    
    <div th:replace="fragments/footer :: footer">Здесь должен быть подвал</div>

</body>

</html>