<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head :: head"></div>

<body>
    <div th:replace="fragments/header :: header">Здесь должен быть заголовок</div>

    <main class="container">
        <h3>О Bobr-Coin</h3>
        <p>Bobr-coin&nbsp;&mdash; это захватывающая idle игра, которая погрузит вас в&nbsp;жизнь настоящей бобровой
            обители. Вам предстоит стать настоящим боброводом, управляя своей собственной бобровой колонией. Начните
            с&nbsp;маленькой группы бобров и&nbsp;постепенно развивайте ее&nbsp;в&nbsp;процветающую бобровую
            цивилизацию.</p>
        <p>
            С&nbsp;каждым нажатием клавиши вы&nbsp;будете зарабатывать бобровые монеты, которые можно вложить
            в&nbsp;различные аспекты вашей колонии. Покупайте строителей, полицейских, юристов и&nbsp;простых бобров для
            построения своей колонии. 
            <!-- Здесь бы могла быть реклама hh.ru -->
        </p>
        <p>
            В мире Bobr-coin реализм не ограничивается только развитием колонии. Вы сможете покупать разных видов
            бобров, каждый из которых обладает своими особенностями и навыками. Управление разнообразными бобрами
            позволит вам эффективнее управлять ресурсами и достигать новых высот.
        </p>
        <p>
            Не&nbsp;забывайте о&nbsp;секретных достижениях, которые добавят игре дополнительную глубину. Открывайте
            скрытые цели,
            выполняйте уникальные задания и&nbsp;раскрывайте секреты Бобродолины. И&nbsp;если вы&nbsp;стремитесь
            к&nbsp;конкуренции, то
            сможете соревноваться за&nbsp;место в&nbsp;топ 10&nbsp;игроков. Покажите всем свои навыки бобровода
            и&nbsp;докажите, что именно
            вы&nbsp;заслуживаете этот почетный статус.
        </p>
        <p>
            Bobr-coin предлагает уникальный опыт, где каждое ваше действие имеет значение. Откройте для себя мир бобров
            и&nbsp;станьте великим боброводом, воплотив в&nbsp;жизнь свою мечту о&nbsp;процветающей бобровой колонии.
        </p>
        <p>
            Если у&nbsp;вас есть вопросы и&nbsp;предложения по&nbsp;игре, можете оставить их&nbsp;в&nbsp;<a
                href="https://github.com/ruslan2570/Bobr-Coin/issues" target="_blank">репозитории проекта</a> или по&nbsp;адресу <a
                href="mailto:bobr@new-bokino.ru">bobr@new-bokino.ru</a>
        </p>
    </main>

    <div th:replace="fragments/footer :: footer">Здесь должен быть подвал</div>
</body>

</html>