<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head :: head"></div>
<body>
<div th:replace="fragments/header :: header">Здесь должен быть заголовок</div>

<main>
  <div class="container">
    <h2>Пользовательское Соглашение</h2>
    <p
            style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:19px;font-family:"Times New Roman",serif;'>
            <span style='font-size:16px;font-family:"Arial",sans-serif;'>Настоящее Пользовательское Соглашение (Далее
                Соглашение) регулирует отношения между владельцем&nbsp;</span><span
            style='font-size:16px;font-family:"Arial",sans-serif;'>www</span><span
            style='font-size:16px;font-family:"Arial",sans-serif;'>.</span><span
            style='font-size:16px;font-family:"Arial",sans-serif;'>bobr</span><span
            style='font-size:16px;font-family:"Arial",sans-serif;'>-</span><span
            style='font-size:16px;font-family:"Arial",sans-serif;'>coin</span><span
            style='font-size:16px;font-family:"Arial",sans-serif;'>.</span><span
            style='font-size:16px;font-family:"Arial",sans-serif;'>new</span><span
            style='font-size:16px;font-family:"Arial",sans-serif;'>-</span><span
            style='font-size:16px;font-family:"Arial",sans-serif;'>bokino</span><span
            style='font-size:16px;font-family:"Arial",sans-serif;'>.</span><span
            style='font-size:16px;font-family:"Arial",sans-serif;'>ru</span><span
            style='font-size:16px;font-family:"Arial",sans-serif;'>&nbsp;(далее&nbsp;</span><span
            style='font-size:16px;font-family:"Arial",sans-serif;'>Bobr</span><span
            style='font-size:16px;font-family:"Arial",sans-serif;'>-</span><span
            style='font-size:16px;font-family:"Arial",sans-serif;'>Coin</span><span
            style='font-size:16px;font-family:"Arial",sans-serif;'>&nbsp;или Администрация) с одной стороны и
                пользователем сайта с другой.</span></p>
    <p
            style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:19px;font-family:"Times New Roman",serif;'>
      <span style='font-size:16px;font-family:"Arial",sans-serif;'>Сайт&nbsp;</span><span
            style='font-size:16px;font-family:"Arial",sans-serif;'>Bobr</span><span
            style='font-size:16px;font-family:"Arial",sans-serif;'>-</span><span
            style='font-size:16px;font-family:"Arial",sans-serif;'>Coin</span><span
            style='font-size:16px;font-family:"Arial",sans-serif;'>&nbsp;не является средством массовой
                информации.</span></p>
    <p
            style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:19px;font-family:"Times New Roman",serif;'>
      <span style='font-size:16px;font-family:"Arial",sans-serif;'>&nbsp;</span></p>
    <p
            style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:19px;font-family:"Times New Roman",serif;'>
            <span style='font-size:16px;font-family:"Arial",sans-serif;'>Используя сайт, Вы соглашаетесь с условиями
                данного соглашения.</span></p>
    <p
            style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:19px;font-family:"Times New Roman",serif;'>
            <span style='font-size:16px;font-family:"Arial",sans-serif;'>Если Вы не согласны с условиями данного
                соглашения, не используйте сайт&nbsp;</span><span
            style='font-size:16px;font-family:"Arial",sans-serif;'>Bobr</span><span
            style='font-size:16px;font-family:"Arial",sans-serif;'>-</span><span
            style='font-size:16px;font-family:"Arial",sans-serif;'>Coin</span><span
            style='font-size:16px;font-family:"Arial",sans-serif;'>!</span></p>
    <p
            style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:19px;font-family:"Times New Roman",serif;'>
      <span style='font-size:16px;font-family:"Arial",sans-serif;'>&nbsp;</span></p>
    <p
            style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:19px;font-family:"Times New Roman",serif;'>
      <span style='font-size:16px;font-family:"Arial",sans-serif;'>Предмет соглашения</span></p>
    <p
            style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:19px;font-family:"Times New Roman",serif;'>
            <span style='font-size:16px;font-family:"Arial",sans-serif;'>Администрация предоставляет пользователю право
                на размещение на сайте следующей информации:</span></p>
    <p
            style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:19px;font-family:"Times New Roman",serif;'>
      <span style='font-size:16px;font-family:"Arial",sans-serif;'>&nbsp;</span></p>
    <p
            style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:19px;font-family:"Times New Roman",serif;'>
      <span style='font-size:16px;font-family:"Arial",sans-serif;'>Предмет соглашения</span></p>
    <p
            style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:19px;font-family:"Times New Roman",serif;'>
            <span style='font-size:16px;font-family:"Arial",sans-serif;'>Администрация предоставляет пользователю право
                на размещение на сайте следующей информации:</span></p>
    <p
            style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:19px;font-family:"Times New Roman",serif;'>
      <span style='font-size:16px;font-family:"Arial",sans-serif;'>- Текстовой информации</span></p>
    <p
            style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:19px;font-family:"Times New Roman",serif;'>
      <span style='font-size:16px;font-family:"Arial",sans-serif;'>&nbsp;</span></p>
    <p
            style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:19px;font-family:"Times New Roman",serif;'>
      <span style='font-size:16px;font-family:"Arial",sans-serif;'>Права и обязанности сторон</span></p>
    <p
            style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:19px;font-family:"Times New Roman",serif;'>
      <span style='font-size:16px;font-family:"Arial",sans-serif;'>Пользователь имеет право:</span></p>
    <p
            style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:19px;font-family:"Times New Roman",serif;'>
      <span style='font-size:16px;font-family:"Arial",sans-serif;'>- получать информацию на сайте</span></p>
    <p
            style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:19px;font-family:"Times New Roman",serif;'>
            <span style='font-size:16px;font-family:"Arial",sans-serif;'>- требовать от администрации скрытия любой
                информации о пользователе</span></p>
    <p
            style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:19px;font-family:"Times New Roman",serif;'>
            <span style='font-size:16px;font-family:"Arial",sans-serif;'>- использовать информацию сайта в личных
                некоммерческих целях</span></p>
    <p
            style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:19px;font-family:"Times New Roman",serif;'>
      <span style='font-size:16px;font-family:"Arial",sans-serif;'>&nbsp;</span></p>
    <p
            style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:19px;font-family:"Times New Roman",serif;'>
      <span style='font-size:16px;font-family:"Arial",sans-serif;'>Администрация имеет право:</span></p>
    <p
            style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:19px;font-family:"Times New Roman",serif;'>
            <span style='font-size:16px;font-family:"Arial",sans-serif;'>- по своему усмотрению и необходимости
                создавать, изменять, отменять правила</span></p>
    <p
            style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:19px;font-family:"Times New Roman",serif;'>
            <span style='font-size:16px;font-family:"Arial",sans-serif;'>- ограничивать доступ к любой информации на
                сайте</span></p>
    <p
            style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:19px;font-family:"Times New Roman",serif;'>
            <span style='font-size:16px;font-family:"Arial",sans-serif;'>- создавать, изменять, удалять
                информацию</span></p>
    <p
            style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:19px;font-family:"Times New Roman",serif;'>
      <span style='font-size:16px;font-family:"Arial",sans-serif;'>- удалять учетные записи</span></p>
    <p
            style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:19px;font-family:"Times New Roman",serif;'>
            <span style='font-size:16px;font-family:"Arial",sans-serif;'>- отказывать в регистрации без объяснения
                причин</span></p>
    <p
            style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:19px;font-family:"Times New Roman",serif;'>
      <span style='font-size:16px;font-family:"Arial",sans-serif;'>&nbsp;</span></p>
    <p
            style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:19px;font-family:"Times New Roman",serif;'>
      <span style='font-size:16px;font-family:"Arial",sans-serif;'>Пользователь обязуется:</span></p>
    <p
            style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:19px;font-family:"Times New Roman",serif;'>
            <span style='font-size:16px;font-family:"Arial",sans-serif;'>- обеспечивать сохранность личных данных от
                доступа третьих лиц</span></p>
    <p
            style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:19px;font-family:"Times New Roman",serif;'>
      <span style='font-size:16px;font-family:"Arial",sans-serif;'>- не нарушать работоспособность сайта</span>
    </p>
    <p
            style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:19px;font-family:"Times New Roman",serif;'>
            <span style='font-size:16px;font-family:"Arial",sans-serif;'>- не использовать скрипты (программы) для
                автоматизированного сбора информации и/или взаимодействия с Сайтом и его Сервисами</span></p>
    <p
            style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:19px;font-family:"Times New Roman",serif;'>
      <span style='font-size:16px;font-family:"Arial",sans-serif;'>&nbsp;</span></p>
    <p
            style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:19px;font-family:"Times New Roman",serif;'>
      <span style='font-size:16px;font-family:"Arial",sans-serif;'>Администрация обязуется:</span></p>
    <p
            style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:19px;font-family:"Times New Roman",serif;'>
            <span style='font-size:16px;font-family:"Arial",sans-serif;'>- поддерживать работоспособность сайта за
                исключением случаев, когда это невозможно по независящим от Администрации причинам.</span></p>
    <p
            style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:19px;font-family:"Times New Roman",serif;'>
            <span style='font-size:16px;font-family:"Arial",sans-serif;'>- предоставить всю доступную информацию о
                Пользователе уполномоченным на то органам государственной власти в случаях, установленных законом</span>
    </p>
    <p
            style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:19px;font-family:"Times New Roman",serif;'>
      <span style='font-size:16px;font-family:"Arial",sans-serif;'>&nbsp;</span></p>
    <p
            style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:19px;font-family:"Times New Roman",serif;'>
      <span style='font-size:16px;font-family:"Arial",sans-serif;'>Ответственность сторон</span></p>
    <p
            style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:19px;font-family:"Times New Roman",serif;'>
            <span style='font-size:16px;font-family:"Arial",sans-serif;'>- администрация не несет никакой
                ответственности за услуги, предоставляемые третьими лицами</span></p>
    <p
            style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:19px;font-family:"Times New Roman",serif;'>
            <span style='font-size:16px;font-family:"Arial",sans-serif;'>- в случае возникновения форс-мажорной ситуации
                (боевые действия, чрезвычайное положение, стихийное бедствие и т. д.) Администрация не гарантирует
                сохранность информации, размещённой Пользователем, а также бесперебойную работу информационного
                ресурса</span></p>
    <p
            style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:19px;font-family:"Times New Roman",serif;'>
      <span style='font-size:16px;font-family:"Arial",sans-serif;'>&nbsp;</span></p>
    <p
            style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:19px;font-family:"Times New Roman",serif;'>
      <span style='font-size:16px;font-family:"Arial",sans-serif;'>Условия действия Соглашения</span></p>
    <p
            style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:19px;font-family:"Times New Roman",serif;'>
            <span style='font-size:16px;font-family:"Arial",sans-serif;'>Данное Соглашение вступает в силу при
                регистрации на сайте.</span></p>
    <p
            style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:19px;font-family:"Times New Roman",serif;'>
            <span style='font-size:16px;font-family:"Arial",sans-serif;'>Соглашение перестает действовать при появлении
                его новой версии.</span></p>
    <p
            style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:19px;font-family:"Times New Roman",serif;'>
            <span style='font-size:16px;font-family:"Arial",sans-serif;'>Администрация оставляет за собой право в
                одностороннем порядке изменять данное соглашение по своему усмотрению.</span></p>
    <p
            style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:19px;font-family:"Times New Roman",serif;'>
            <span style='font-size:16px;font-family:"Arial",sans-serif;'>Администрация не оповещает пользователей об
                изменении в Соглашении.</span></p>
    <p
            style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;font-size:19px;font-family:"Times New Roman",serif;'>
      <span style='font-size:16px;font-family:"Arial",sans-serif;'>&nbsp;</span></p>
  </div>
</main>

<div th:replace="fragments/footer :: footer">Здесь должен быть подвал</div>
</body>
</html>